*.kilepr
*.sh
*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.ilg
*.ist
*.lof
*.lot
*.loa
*.loq
*.nlo
*.nls
*.ntn
*.toc
*.log
*.gz
*.db
documento.pdf
*.backup
*~
*.syi
*.syg
*.slg
*.ind
*.idx
*.gls
*.glo
*.glg
*.lol
*.locf
*.DS_Store
*.synctex(busy)
project/build/
.vscode-server/
.ssh
project/.devcontainer*
project/.texlive*
project/.texlive*
project/lib/preambulo.f*
project/.viminfo
project/.bash_history
.gitconfig
project/.texmf-var/fonts/pk/ljfour/jknappen/ec/ectt1200.600pk
project/.texmf-var/*