*.kilepr
*.sh
*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.ilg
*.ist
*.lof
*.lot
*.loa
*.loq
*.nlo
*.nls
*.ntn
*.toc
*.log
*.gz
*.db
documento.pdf
*.backup
*~
*.syi
*.syg
*.slg
*.ind
*.idx
*.gls
*.glo
*.glg
*.lol
*.locf
